In [52]:
import numpy as np
import pandas as pd
import time
from sklearn import datasets
import os
from sklearn.utils import resample

### Bootstrap sampling

In [14]:
boston_data = datasets.load_boston()
df_boston = pd.DataFrame(boston_data.data,columns=boston_data.feature_names)
df_boston['target'] = pd.Series(boston_data.target)
df_boston

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [49]:
def bootstrap(df):
    
    s = time.time()
    res = []
    for i in range(0, 1000): 
        sample = resample(df)
        res.append(sample.median())
        
    results = pd.concat([re for re in res])
    print("Bootstrap Statistics:")
    print('-------------------------')
    print('Original Mean \n', sample.median())
    print('-------------------------')
    print(f'Bias {results.mean() - df.median()}\n')
    print('-------------------------')
    print(f'Standard Error {results.std()}')

In [50]:
bootstrap(df_boston)

Bootstrap Statistics:
-------------------------
Original Mean
 CRIM         0.28456
ZN           0.00000
INDUS        9.90000
CHAS         0.00000
NOX          0.54100
RM           6.21150
AGE         81.75000
DIS          2.89290
RAD          5.00000
TAX        352.00000
PTRATIO     18.70000
B          391.98000
LSTAT       12.03000
target      20.90000
dtype: float64
-------------------------
Bias CRIM        62.53128
ZN          62.78779
INDUS       53.09779
CHAS        62.78779
NOX         62.24979
RM          56.57929
AGE        -14.71221
DIS         59.58034
RAD         57.78779
TAX       -267.21221
PTRATIO     43.73779
B         -328.65221
LSTAT       51.42779
target      41.58779
dtype: float64

-------------------------
Standard Error 124.50807454339358

### Bootstrap Confidence Interval

In [53]:
path = 'loans_income.csv'
loans_income = pd.read_csv(os.path.join('/home/adweeb/stat101/data',path))

In [55]:
loans_income.mean()

x    68760.51844
dtype: float64

In [ ]:
def confidence_intervals(df, n): 
    
    np.random.seed(seed=42)
    
    sample1 = resample()